.Mnavbar {
  position: relative;
}

.sidebar {
  /*d*/
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00aeb2;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-item .description {
  display: block;
  margin-top: 5px;
}

.befpressing {
  width: 45px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00aeb2;
  padding: 20px;
}

.sidebar-item-setting {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 25px;
  color: #fff !important;
  cursor: pointer;
  font-weight: bold !important;
  font-family: "Nunito", sans-serif;
}
.sidebar-item {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  text-align: left;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 20px;
}

.sidebar-item:hover {
  background-color: #ddd;
}

.sidebar-open {
  overflow-x: hidden;
  position: relative;
  left: 200px;
  transition: left 0.3s ease;
}

.sidebar-closed {
  transition: margin-left 0.5s;

  /* transition: left 0.3s ease; */
}
