.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.25rem 3rem;
}

.logo svg {
    width: 200px;
    height: 40px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.container > * {
    margin: 0 0.5rem;
}

.item {
    position: relative;
    padding: 0.25rem 0.5rem;
    border: 2px solid transparent;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.item::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    margin-top: 0.25rem;
    height: 0.125rem;
    background-color: var(--color);
}

.item:hover::after {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

.active {
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--color);
    text-decoration: none;
    color: black;
    font-weight: 500;
}