	.back {
	color: #ffd600;
	}
	
	.Whereareyoulocated {
	position: absolute;
	width: 100%;
	height: 10%;
	top: 46%;
	margin-left: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 4vw; /* changed to vw */
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.1rem;
	color: #000000;
	border-radius: 10px;
	}
	
	/* Style the rest of the page. */
	body {
	background-color: #ffffff;
	}
	
	header {
	margin-top: 1em;
	margin-top: calc(50vh - 3em);
	}
	
	
	yummo {
	position: absolute;
	width: 40%;
	height: 10%;
	left: 51%;
	top: 35%;
	transform: translate(-50%, -30%);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 4vw; 
	line-height: 1.2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.1vw; 
	color: #000000;
	}
	

	