
.back {
	color: #ffd600;
}

.Whereareyoulocated {
	/* Where are you located? */
position: absolute;
width: 1440px;
height: 145px;
left: 990px;
top: 398px;

font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 20px;
/* or 33% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #000000;

}
  
  /* Style the rest of the page. */
  body {
	background-color: #ffffff;
  }
  
  header {
	margin-top: 1em;
	margin-top: calc(50vh - 3em);
  }
  
.h1 {
	font-family: "Nunito";
	font-weight: 800;
	font-size: 60px;
	text-align: center;
	margin-bottom: 0;
	margin-bottom: -0.25em;
  }

yummo {
/* Yummo */


position: absolute;
width: 1400px;
height: 128px;
left: 1190px;
top: 314px;

font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 20px;
/* or 33% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #000000;

}

section {
    display: block;
}

.googleloc {
/* Google Location */
display: flex;
align-items: center;
align-content: center;
}