/* Acc_Settings.css */

/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__link {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .navbar__link:hover {
    color: #ffa500;
  }
  
  /* Personal Information form styles */
  .account-heading{
    position: relative;
    left: 80px;
    right: 165px;
    top: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  /* identical to box height, or 140% */
  letter-spacing: 0.1px;
  }
  
  .input-field-1{
    /* display: flex;
    flex-direction: row; */
    margin-bottom: 1rem;
  }
  .input-fields-label{
    position: relative;
    left: 5px;
    top: 20px;
    padding-left: 7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  
  .input-fields-input{
    /* width: 94%;
    padding: 10px 20px;
    position: relative;
    left: 20px;
    top: 3px; */
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    /* margin-bottom: 1rem; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Nunito';
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .personal-info-form{
    border: ridge;
    border-radius: 8px;
    position: absolute; 
    padding: 20px;
    height: 500px;
    left: 80px;
    right: 80px;
    top: 130px;
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: rgb(230, 217, 32);
    border: 2px solid #ffa500;
    border-radius: 4px;
    color: #ffa500;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ffa500;
    color: #fff;
  }
  
  .button:active {
    background-color: #ffa500;
    border-color: #fff;
    color: #fff;
    transform: translateY(2px);
  }
  
  body {
    overflow-x: hidden;
  } 
  
  
  .save-changes-button{
    background-color: #ecebe8;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    transition-duration: 0.2s;
    border: 2px solid #ff9900;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 8px;
    position: absolute;
    left: 550px;
    top: 494px;
  }
  
  .save-changes-button:hover{
    background-color: #ff9900;
    color: #ffffff;
  }
  
  .navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  ul {
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 0;
    margin: 0 auto;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1200px;
  }
  
  .nav-logo {
    color: #f5b921;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    justify-content: flex-end; /* add this line */
  }
  
  
  .nav-links {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 30px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
  
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  
  
    .navbar-search {
        display: flex;
        align-items: center;
      }
      
      .navbar-search form {
        display: flex;
        align-items: center;
      }
      
      .navbar-search input[type="text"] {
        flex: 1;
        padding: 6px 10px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        margin-right: 10px;
      }
      
      .navbar-search button[type="submit"] {
        float: left;
        margin-left: 20px;
        padding: 6px 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(225, 45, 45);
        color: #333;
        font-size: 1rem;
        cursor: pointer;
      }
      
      .navbar-search button[type="submit"]:hover {
        background-color: rgb(231, 19, 19);
        color: #fff;
      }
  
  
  }
  