.newPostButton {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    align-items: left;
  }
  
  .newPostButton:hover {
    background-color: #3e8e41;
  }
  .centre {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  

  .centre img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .centre p {
    font-size: 18px;
    line-height: 1.5;
    /* text-align: center; */
    color: #333;
  }

  .left {

    flex-direction: column;
    align-items: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 150px;

  }
  
  
  .left p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #333;
  }

