  .login-form{
    /* border: ridge; */
    width: 400px;
    height: 400px;
    /*border-radius: 8px; */
    position : absolute;
    top: 20%;
    left: 0%;


    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    margin: 0px 50px 600px 200px;
    padding: 0px 40px;
  }
  
  .txt-field{
      margin: 30px 0;
  }

  .login-form h1{
      text-align: center;
      
  }

  .login-form label{
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
  }

  .login-form input{
      width: 100%;
      padding: 0px 5px;
      height: 40px;
      font-size: 16px;
      
  }

  .m-buttons a:link, a:visited{
    background-color: rgb(62, 234, 168);
    
    border: 1px;
    color: rgb(0, 0, 0);
    padding: 15px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    
    font-size: 16px;
    font-weight: 400px;
  }

  .m-buttons a:hover, a:active {
    background-color: #13aa82;
  }


  .login-button{
      width: 63%;
      height: 50px;
      margin-right: 5%;
      border-radius: 8px ;
      background: #FFC700;
      box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
      
      font-size: 16px;
      font-weight: 400px;
  }

  .signup-link{
      margin-top: 5%;
      margin-left: 45%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .login {
    flex: 1;
    margin-right: 10px;
  }
  
  .image-container {
    flex: 1;
  }
  
  .image-container img {
    max-width: 95%;
    height: auto;
  }