html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-container {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 75%;
    height: 100%;
}

.card2 {
    display: flex;
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   width: 25%;
}

.p-datatable-wrapper {
    border: 1px solid #dee2e6;
}

.card2-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2-header {
    font-size: xx-large;
    font-weight: bold;
}

.birdie-pic {
    width: 15%;
    position: fixed; 
    bottom: 0px; 
    right: 0px;
}

.p-rating {
    margin-left: 5rem;
}

.p-inputtext {
    margin-left: 5rem;
}

.review-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.label-headers{
    display: flex;
    flex-direction: column;
}

.label-headers-content{
    display: flex;
    margin-bottom: 4.2rem;
}

.review-inputs{
    display: flex;
    flex-direction: column;
}

.review-inputs-content{
    display: flex;
    margin-bottom: 1rem;
}

.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}