.final-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  
  .suggestions-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 6rem;
    max-width: fit-content;
    max-height: fit-content;
  }
  
  .suggestions-texts {
    display: flex;
  }
  
  .rectangle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 1rem;
  }
  
  .rectangle {
    width: 40rem;
    height: 7rem;
    margin-top: 2rem;
    border-radius: 2rem;
    filter: blur(3px); /* Add blur effect by default */
    background-color: rgb(127, 126, 126);
    transition: filter 0.5s, background-color 0.5s; /* Add transition effect */
    cursor: pointer;
    display: flex;
  }
  
  .rectangle.selected {
    filter: none; /* Remove blur effect */
    background-color: #FFD336BF; /* Set background color to yellow */
  }

  .rectangle-icon-container {
    width: 5.5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: #C4C4C4;
    margin-left: 5%;
    margin-top: 2.7%;
    margin-right: 2rem;
  }
  
  .rectangle-text-container {
    display: flex;
    flex-direction: column;
  }
  
  .rectangle-text-title {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
  }
  
  .rectangle-text-desc {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
  }
  
  
  .map-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 9vh;
    margin-left: 6rem;
  }
  
  .map-api {
    display: flex;
    height: 410px;
  }
  
  .map-texts {
    display: flex;
    flex-direction: column;
  }

  .suggestions-button {
    display: flex;
    width: auto;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 3rem;
    text-align: right;
    margin-left: 85%;
  }

  .suggestions-title-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .rest-img {
    width: 5.5rem;
    height: 5rem;
    border-radius: 2rem;
  }