.gloc-box-title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 30rem;
    font-weight: bold;
}

.gloc-box-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 30rem;
    font-weight: bold;
}

.gloc-time-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10rem;
    margin-right: 20rem;
    margin-top: 5rem;
}

.yloc-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yloc-box-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 30rem;
    font-weight: bold;
    font-size: large;
}

.yloc-box-title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 30rem;
    font-weight: bold;
}

.center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}