html, body {
	margin: 0;
	padding: 0;
  	}
  
  	#root {
	margin: 0;
	padding: 0;
  	}
	
	.back {
	color: #ffd600;
	}
	
	.texts {
	justify-content: center;
  	align-items: center;
  	position: relative;
	width: 100%;
	margin-top: 17rem;
	margin-left: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 4vw; /* changed to vw */
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.1rem;
	color: #000000;
	}

	.location-container-c {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		padding-top: 3rem;
	  }

	.next-button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		padding-top: 3rem;
	}
	  
	
	/* Style the rest of the page. */
	body {
	background-color: #ffffff;
	}
	
	header {
	margin-top: 1em;
	margin-top: calc(50vh - 3em);
	}
	
	
	.WAYC {
		display: flex;
		padding-top: 1rem;
		justify-content: center;
		align-items: center;
	}
	

	